.button {
  background-color: @basic-grey;
  .set-font(14px;18px);
  font-family: @title-font;
  color: @dark-grey;
  text-transform: uppercase;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &--accent {
    background-color: @basic-green;
    color: #ffffff;
  }
}
