.form__label,
.form__input {
  .set-font(16px; 18px);
  text-transform: uppercase;
  font-family: @title-font;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    .set-font(20px; auto);
  }
}

.form__legend {
  .set-font(24px; 26px);
  font-family: @title-font;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    .set-font(36px;36px);
    margin-bottom: 76px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__program-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.form__item {
  display: flex;
  align-items: center;
  gap: 13px;

  @media (min-width: @tablet-width) {
    gap: 20px;
  }
}

.form__item:not(:last-of-type) {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.form__input:not([type="checkbox"]):not([type="radio"]) {
  flex-grow: 1;
}

.form__list--extra {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 80px;
  }
}

.form__fieldset--parameters,
.form__fieldset--services {
  margin-bottom: 47px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }
}

.form__fieldset--contacts,
.form__fieldset--comment {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }
}

.form__fieldset--extra {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.form__input--comment {
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 174px;
  }
}

.form__button-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: @tablet-width) {
    gap: 80px;
  }
}

.form__warning {
  align-self: center;
  display: block;

  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__button {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__item--letter,
.form__item--phone {
  position: relative;
}

.form__icon {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.form__input {
  border: 1px solid #e7e7e7;
  padding: 13px 15px;
}

.form__label--radio,
.form__label--check {
  display: block;
  position: relative;
  padding-left: 35px;

  @media (min-width: @tablet-width) {
    padding-left: 55px;
  }
}

/* Mark */
.form__input--radio,
.form__input--check {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid @slider-grey;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input--radio {
  border-radius: 50%;
}

.form__input:checked + .form__input--radio::after {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @basic-green;
  content: "";

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}


.form__input:checked + .form__input--check::after {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 18px;
  height: 14px;
  background-image: url("../img/icon/checked.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 18px;
  }
}
