.form-main__title {
  .set-font(36px; 36px);
  font-family: @title-font;
}

.form-main__text {
  .set-font(14px; 18px);
  font-family: @title-font;
  text-transform: uppercase;
}

.form-main {
  .center();
}
