.load-more {
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: @tablet-width) {
    height: 460px;
    padding: 38px;
  }

  @media (min-width: @desktop-width) {
    height: 470px;
  }
}
.load-more__count {
  .set-font(16px; 20px);
  font-family: @title-font;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 8px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    .set-font(20px;22px);
  }
}

.load-more__text {
  .set-font(12px; 16px);
  text-align: center;

  @media (min-width: @tablet-width) {
    .set-font(16px;18px);
  }
}

.load-more__button {
  margin-top: auto;
  padding: 0;
}
