.page-footer {
  background-color: @basic-grey;
}

.page-footer__header {
  &--light {
    background-color: #ffffff;
  }
}

.page-footer__cooperation {
  .set-font(16px; 20px);
  font-family: @title-font;
  text-transform: uppercase;
}

.page-footer__address {
  line-height: 20px;
  font-style: normal;
}
