.service {
  background-color: @basic-grey;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-left: 52px;
    padding-right: 62px;
    padding-top: 77px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 52px;
    padding-top: 47px;
  }
}

.service__title {
  .set-font(24px; 37px);
  font-family: @title-font;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 70px;
  margin-top: 7px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    margin-left: 0;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 163px;
    margin-bottom: 73px;
    margin-top: 30px;
  }
}

.service__link {
  .set-font(16px; 16px);
  font-family: @title-font;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-right: 47px;

  @media (min-width: @tablet-width) {
    padding-right: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 60px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon/arrow.svg");
    width: 32px;
    height: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.service__circle {
  width: 50px;
  height: 50px;
  background: @basic-green;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 20px;
  right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    top: auto;
    bottom: auto;
    right: 62px;
    left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: auto;
  }
}

.service__text {
  margin-bottom: 38px;
  min-width: 227px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    margin-right: 254px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
    margin-right: 0;
  }
}

.service__img--skinny-cat {

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.service__img--fat-cat {
  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
  }
}
