.site-list {
  list-style-type: none;
}

.site-list__item {
  padding: 24px 0;
}

.site-list__link {
  .set-font(20px; 20px);
  text-transform: uppercase;
  font-weight: 500;
  font-family: @title-font;
  color: #000000;
}
