.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  //height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: @text-font;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

a {
  text-decoration: none;
}

input:not([type="checkbox"]):not([type="radio"]) {
  height: 45px;

  @media (min-width: @tablet-width) {
    height: 52px;
  }
}
